@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes animate-cloud {
  0% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.3;
  }
  25% {
    transform: translateX(40px) translateY(-10px) scale(1.07);
    opacity: 0.3;
  }
  50% {
    transform: translateX(80px) translateY(10px) scale(0.96);
    opacity: 0.3;
  }
  75% {
    transform: translateX(40px) translateY(-10px) scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.3;
  }
}


.animate-cloud {
  animation: animate-cloud 12s infinite ease-in-out alternate;
}

